<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Title here</title>
	<style type="text/css">
	body{
		background-color: #dcdcdc;
			text-align: center;
	}
	div#center_container{
		margin:0 auto;
		/*margin:0 auto;*/
		margin-top:100px;
		background-color: #333;
		
		
	}
</style>
</head>
<body>
	<DIV>
<div id="center_container">
	<input type="text" id="txt_name" name="usr"/>
	<input type="text" id="txt_upwd" name="pwd"/>
	<input type="submit" id="txt_sub" value="login">
</div>
</DIV>
</body>
</html>